body {
  font-family: Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
}

/* Header styles */
th {
  background-color: rgb(212, 244, 255);
}

/* Alternate row colors */
tr:nth-child(even) {
  background-color: rgb(212, 244, 255);
}

/* Highlight on hover */
tr:hover {
  background-color: rgb(179, 236, 255);
}

/* Make the first column bold */
td:first-child {
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: row;
  /* outline: black dotted; */
  width: 100%;
  padding-top: 20px;
}
.leftside {
  /* outline: red dotted; */
  width: 100%;
  flex: 4;
  text-align: -webkit-center;
  margin-right: 50px;
}
.rightside {
  width: 100%;
  flex: 8;
  padding-left: 75px;
}
.above-content-wrapper {
  display: flex;
}
.above-content-leftside-wrapper {
  flex: 2;
}
.chart {
  flex: 3;
}
#courseChart {
  width: 300px;
}
.profile-pic {
  text-align: center;
}
.profile-pic > img {
  width: 60%;
  background-color: lightblue;
}
.student-courses {
  margin-top: 10px;
  border-top: 2px solid rgb(218, 211, 211);
  width: 60%;
  text-align: center;
  position: relative;
}
.student-courses > span {
  position: absolute;
  top: -10px; /* Adjust the top value as needed to position the <p> tag precisely on the border */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 10px;
  white-space: nowrap; /* Prevent text from wrapping */
}
.student-courses > ul > li {
  text-align: left;
  font-weight: normal;
  margin: 5px;
}
.name > h2 {
  margin: 0;
  font-size: 3em;
}
.name > p {
  margin: 0;
  margin-top: 10px;
  padding-left: 0.5%;
  color: blue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.average-grade {
  margin-top: 70px;
}
.average-grade > span {
  color: rgb(175, 175, 175);
}
.average-grade > p {
  font-weight: bolder;
  margin: 0;
  font-size: 2em;
}
.send-message {
  margin-top: 70px;
}

.bt {
  border: none;
  user-select: none;
  font-size: 18px;
  color: white;
  text-align: center;
  /* background-color: #0873bd; */
  background-color: #0050c7;
  box-shadow: #cacaca 2px 2px 10px 1px;
  border-radius: 12px;
  height: 60px;
  line-height: 60px;
  width: 155px;
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
}

.msg {
  height: 0;
  width: 0;
  border-radius: 2px;
  position: absolute;
  left: 15%;
  top: 25%;
}

.bt:active {
  transition: all 0.001s ease;
  background-color: #5d9fcd;
  box-shadow: #97989a 0 0 0 0;
  transform: translateX(1px) translateY(1px);
}

.bt:hover .msg {
  animation: msgRun 2s forwards;
}

@keyframes msgRun {
  0% {
    border-top: #d6d6d9 0 solid;
    border-bottom: #f2f2f5 0 solid;
    border-left: #f2f2f5 0 solid;
    border-right: #f2f2f5 0 solid;
  }

  20% {
    border-top: #d6d6d9 14px solid;
    border-bottom: #f2f2f5 14px solid;
    border-left: #f2f2f5 20px solid;
    border-right: #f2f2f5 20px solid;
  }

  25% {
    border-top: #d6d6d9 12px solid;
    border-bottom: #f2f2f5 12px solid;
    border-left: #f2f2f5 18px solid;
    border-right: #f2f2f5 18px solid;
  }

  80% {
    border-top: transparent 12px solid;
    border-bottom: transparent 12px solid;
    border-left: transparent 18px solid;
    border-right: transparent 18px solid;
  }

  100% {
    transform: translateX(150px);
    border-top: transparent 12px solid;
    border-bottom: transparent 12px solid;
    border-left: transparent 18px solid;
    border-right: transparent 18px solid;
  }
}
.about {
  display: flex;
  flex-direction: row;
}
.basic-information {
  margin-left: 10%;
}

.about-text {
  margin-top: 70px;
  border-bottom: 2px solid rgb(218, 211, 211);
}
.about-text > span {
  margin-left: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
